@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="main-content">
        <figure>
            <img class="index-logo"
                 src="~/img/logo-turbinada.png"
                 alt="logo_do_site" />
        </figure>
        <h3 class="welcome">Bem-vindo à</h3>
        <h1 class="title">Turbinada Veículos</h1>
        <p class="description">
            Quando a vida der uma desacelerada, dê uma <b>turbinada!</b>
        </p>
        <div class="carousel">
            <div id="carouselExampleSlidesOnly"
                 class="carousel slide"
                 data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/Barco1.jpg"
                             class="d-block w-100"
                             alt="Modelo de barco" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/Moto2.jpg"
                             class="d-block w-100"
                             alt="Modelo de moto" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/Carro3.png"
                             class="d-block w-100"
                             alt="Modelo de carro" />
                    </div>
                </div>
            </div>
        </div>
        <p class="description-2">
            Acesse o site para conferir os veículos disponíveis
        </p>
        <a id="button" class="btn btn-outline-dark mx-2" asp-area="" asp-controller="Conteudo" asp-action="Home">
                Entrar
        </a>
    </div>
</main>