<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Turbinada Veículos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          href="~/Devs2Blu.ProjetosAula.ProjetoSiteCMS.styles.css"
          asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/3706912826.js"
            crossorigin="anonymous"></script>
</head>
<body>
      <main role="main" class="pb-3">@RenderBody()</main>
    
 @*   <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Turbinada Veículos
            <div id="newsletter">
                <p class="pt-2">Receba as novidades:</p>
                <div id="email-field" class="form-outline form-white">
                    <input placeholder="Email"
                           type="email"
                           class="form-control" />
                </div>
                <button type="submit" class="btn btn-outline-dark mx-2">
                    Inscreva-se
                </button>
            </div>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
