@model Devs2Blu.ProjetosAula.Projeto_Site_CMS.Models.Entities.Conteudo

<main>
    <div class="conteudo">
        <img class="imagem" src="~/img/carro_modelo.png" alt="foto do carro" />
        <p class="nome">@Html.DisplayFor(model => model.Nome)</p>
        <p class="preco">R$@Html.DisplayFor(model => model.Preco)</p>
        <P class="descricao-titulo">Descrição</P>
        <p class="descricao">@Html.DisplayFor(model => model.Descricao)</p>
        <p class="categoria">Categoria</p>
        <p class="tipo">@Html.DisplayFor(model => model.Categoria.CategoriaNome)</p>
        <div>
        </div>
    </div>
</main>