@model IEnumerable<Devs2Blu.ProjetosAula.Projeto_Site_CMS.Models.Entities.Conteudo>

<h1 class="text-center">Veiculos</h1>

@foreach (var item in Model) {
    <div class="card-list">
        <a asp-action="Details" asp-route-id="@item.Id" class="card" style="width: 18rem;">
            <img src="~/img/carro_modelo.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                <p class="card-text">R$ @Html.DisplayFor(modelItem => item.Preco)</p>
            </div>
        </a>
    </div>
}
 