@model IEnumerable<Devs2Blu.ProjetosAula.Projeto_Site_CMS.Models.Entities.Conteudo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Index</h1>

@foreach (var item in Model) {

     <div class="card-list">
             <a asp-action="Details" asp-route-id="@item.Id" class="card" style="width: 18rem;">
             <img src="~/img/carro_modelo.png" class="card-img-top" alt="...">
             <div class="card-body">
                 <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
             </div>
         </a>
     </div>
}
 