@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 241, 241);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    min-height: 100vh;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 0 50px 100px;
    height: 100vh;
}

.index-logo {
    width: 12rem;
    height: 12rem;
}

.title {
    font-size: 3.5rem;
    font-weight: 700;
}

.description {
    font-size: 20px;
}

.description-2 {
    font-size: 18px;
    margin-top: 1rem;
}

.carousel img {
    margin: 15px 0;
    border-radius: 20px;
}

a button {
    cursor: pointer;
    padding: 6px 12px;
    margin: 4px;
    border-radius: 0.5rem;
    background-color: white;
    border: 2px solid black;
}

#button:hover {
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
    padding: 6px 12px;
    background-color: black;
    color: white;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.card-body {
    text-align: center;
    box-shadow: rgb(161 158 158 / 70%) 3px 4px 10px 0px;
}

/* Footer */
#footer {
    display: flex;
    bottom: 0;
}

#newsletter {
    display: flex;
    justify-content: center;
}

    #newsletter p {
        width: auto;
        margin-bottom: 0;
        margin-right: 15px;
    }

footer {
    display: flex;
    bottom: 0;
}

    footer .container {
        display: flex;
        background-color: rgb(241, 241, 241);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

.carousel {
    width: 610px;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

.highlight-pics img {
    max-width: 600px;
    min-width: 600px;
    max-height: 600px;
    min-height: 600px;
    width: auto;
    height: auto;
    box-shadow: 4px 2px 8px #a1a1a1;
}
